/CefSharp-75.1.143/Debug
/CefSharp-75.1.143/.vs
/CefSharp-75.1.143/CefSharp.OffScreen.Example/bin
/CefSharp-75.1.143/CefSharp.OffScreen.Example/obj
/CefSharp-75.1.143/packages
/CefSharp-75.1.143/CefSharp/obj
/CefSharp-75.1.143/CefSharp/bin
/CefSharp-75.1.143/CefSharp.BrowserSubprocess/bin
/CefSharp-75.1.143/CefSharp.BrowserSubprocess/obj
/CefSharp-75.1.143/CefSharp.BrowserSubprocess.Core/bin
/CefSharp-75.1.143/CefSharp.BrowserSubprocess.Core/obj
/CefSharp-75.1.143/CefSharp.Core/bin
/CefSharp-75.1.143/CefSharp.Core/obj
/CefSharp-75.1.143/CefSharp.Example/bin
/CefSharp-75.1.143/CefSharp.Example/obj
/CefSharp-75.1.143/CefSharp.OffScreen/bin
/CefSharp-75.1.143/CefSharp.OffScreen/obj
/CefSharp-75.1.143/CefSharp.Test/bin
/CefSharp-75.1.143/CefSharp.Test/obj
/CefSharp-75.1.143/CefSharp.WinForms/bin
/CefSharp-75.1.143/CefSharp.WinForms/obj
/CefSharp-75.1.143/CefSharp.WinForms.Example/obj
/CefSharp-75.1.143/CefSharp.Wpf/bin
/CefSharp-75.1.143/CefSharp.Wpf/obj
/CefSharp-75.1.143/CefSharp.Wpf.Example/bin
/CefSharp-75.1.143/CefSharp.Wpf.Example/obj
/CefSharp-75.1.143/api/node_modules
/SimpleHttpServer/SimpleHttpServer/obj
/SimpleHttpServer/SimpleHttpServer/bin
/SimpleHttpServer/SimpleHttpServer.App/bin
/SimpleHttpServer/SimpleHttpServer.App/obj
/SimpleHttpServer/SimpleHttpServer.Test/bin
/SimpleHttpServer/SimpleHttpServer.Test/obj
/SimpleHttpServer/SimpleHttpServer.WebApp/bin
/SimpleHttpServer/SimpleHttpServer.WebApp/obj
