<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PATH_CACHE_DIR" value="C:\_cache\"/>
    <add key="ROOT_PATH" value="C:\ocr-images\"/>
    <add key="URL_JS_HOOK_OCR" value="http://localhost:1502/a.js"/>
    <add key="AUTO_RE_START_IF_REQUEST_TOKEN_FAIL" value="0"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
